<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>WebPack Common Chunks</title>
  </head>

  <body>
    <p><%= greetings %></p>

    <div id='show_slider'>Show Slider</div>

    <div class='hidden' id='slider_block'>
      <input type="range" min="10" max="1000" step="10" value="300" id="slider">
    </div>

    <br><br>

    <div id='show_gallery'>Show Photo Gallery</div>

    <div class='hidden' id='gallery_block'>
      <div id="gallery">
        <img src="http://s.fotorama.io/1.jpg">
        <img src="http://s.fotorama.io/2.jpg">
        <img src="http://s.fotorama.io/3.jpg">
        <img src="http://s.fotorama.io/4.jpg">
      </div>
    </div>
  </body>

  <script type='text/javascript' src='<%= webpackChunkPath('manifest') %>'></script>
  <script type='text/javascript' src='<%= webpackChunkPath('index') %>'></script>
</html>
